
.apft-card {
  
  &-container {
    width: 25%;
  }

  &__label {
  }

  &__input {
  }
}
  
.apft-card-container {
  
  .apft-card-form {
    
    .field > .apft-card__label {
      display: inline-block;
      padding-top: 7px;
      width: 25%;
    }
    
    .field > .apft-card__input {
      display: inline-block;
      width: 65%;
      margin-left: 15px;
    }
  }
}
  