
// Note get rid of importants someday :(
.apft-card-container{

  $inline-block: inline-block !important;
  width: 25%;

  div{ 
    label{
      display: $inline-block;
      padding-top: 7px;
      width: 25%;
    }

    input {
      display: $inline-block;
      width: 65% !important;
      margin-left: 15px !important;
    }
  }


}