<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title> 
  <!-- Webpack is going to create this for us -->
  <link rel="stylesheet" type="text/css" href="/assets/styles/main.css" media="all">
  <link rel="stylesheet" type="text/css" href="/assets/sematic/dist/semantic.min.css" media="all">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script async type="text/javascript" src="/assets/sematic/dist/semantic.min.js"></script>
  <script async type="text/javascript" src="https://rawgit.com/mholt/PapaParse/master/papaparse.min.js"></script>
  <script async type="text/javascript" src="/assets/scripts/bundle.js"></script>
</head>
<body>
  <div id="root"></div>
</body>

</html>